@import "src/app/shared/styles/styles";

.course {
  min-width: 50vw;

  &__input__list {
    border: none;
    background: none;
    width: 150px;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & input {
      flex: 1;
    }

    &__2 {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      flex: 1;
      justify-content: center;
    }

    & app-button {
      margin-left: 16px;
    }

    & .course__duration {
      margin-left: 16px;
    }
  }

  &__main {
    flex: 1.3;
  }

  &__form {
    &__action {
      display: flex;
      width: 100%;
      margin-top: 2rem;
      gap: 10px;
      justify-content: flex-end;
      margin-left: 66px;
    }
  }

  &__authors {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-item {
      margin-right: 10px;
    }

    &__flex {
      display: flex;
      gap: 12px;
      align-items: center;
    }

    &__buttons {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__icon {
    margin-left: 4px;
    cursor: pointer;
  }
}
